footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(150, 150, 150, 0.8);
}

.container-xINGIT {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}