<div class="aboutMeImgTxtBox">
    <div class="aboutMe">
        <img src="assets/img/texel.jpg">
    </div>
    <div class="aboutMeTxt">
        <h1>About me </h1><br>
        Ich bin ein motivierter, frischgebackener Frontend Developer, meine Freizeit verbringe ich am liebsten draußen im Grünen mit meinen 2 treuen Begleitern. <br>
        <br>
        <br>
        <br>
        HTML <br>
        CSS<br>
        JavaScript<br>
        Wordpress<br>
        Angular <br>
        SCRUM <br>
        GITHub <br>

    </div>
</div>