<div class="aboutMeImgTxtBox">
    <div class="aboutMe">
        <img src="assets/img/texel.jpg">
    </div>
    <div class="aboutMeTxt">
        <br>
        <br>
        <span class="aboutMeHeader">About me </span><br>
        <br>
        <p> Ich bin ein motivierter, frischgebackener Front-End Developer. </p>
        <p> Meine Freizeit verbringe ich mit meinen Vierbeinern im Grünen. </p>
        <span class="underline-transparent">About me </span><br>
        <br>
        <br>
        <br>
        <p>
        HTML <br>
        CSS<br>
        JavaScript<br>
        Wordpress<br>
        Angular <br>
        SCRUM <br>
        GITHub <br>
        </p>
    </div>
</div>