<div class="aboutMeImgTxtBox">
    <div class="aboutMe">
        <img src="assets/img/texel.jpg">
    </div>
    <div class="aboutMeTxt">
        <br>
        <br>
        <span class="aboutMeHeader">About me </span><br>
        <br>
        <p> Ich bin ein junger, motivierter Front-End Entwickler. </p>
        <p> Hier findest du einen Auszug meiner Fähigkeiten </p>
        <span class="underline-transparent">About me </span><br>
        <br>
        
        <p>
            HTML <br>
            CSS<br>
            JavaScript<br>
            Wordpress<br>
            Angular <br>
            SCRUM <br>
            GITHub <br>
            Firebase <br>
            Material Design <br>
        </p>
        <br>
        <br>
<p class="margin"> Wenn ich nicht vor dem Computer sitze, verbringe ich meine Zeit am liebsten mit meinen beiden Hunden <a href="https://jonasregener.de/doggybook" target ="_blank" rel="noreferrer noopener">Paula und Taco</a> im Freien.</p>
    </div>
</div>