.aboutMeImgTxtBox {
    display: flex;
}

.margin {
    margin: 10px;
}
.aboutMe {
    top: 120px;
    left: 0;
    max-height: 80vh;
    
    
    img {
        height: 80vh;
        width: 45vw;
        object-fit: cover;
        overflow: hidden;
    }

}

.aboutMeTxt {
    background-color: rgb(242,242,242);
    width: 46vw;
    text-align: center;

    span {
        
        border-bottom: 3px solid black;
        padding-bottom: 5px;
      
    }
    
}

.aboutMeHeader {
    font-size: 36px;

}

.underline-transparent {
    color: transparent;
    border-bottom: 1px solid black !important;
    padding-bottom: 5px;
}

