.img-slideshow {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease infinite;
    }
    
    @keyframes zoomIn {
        from {
    transform: scale(1);
        }
        to {
            transform: scale(1.2);
        }
    }
    
    .container-slideshow {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    }
    
    .overlay-slideshow {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    
    p {
        max-width: 680px;
        color: white;
        padding-left: 0.2em;
        font-size: 2em;
        border-left: 8px solid yellow;
        margin-left: 140px;
        @media screen and (max-width: 900px) {
            font-size: 1.5em;
            padding-left: 0.0em;
            margin-left: 20px;
          }
          
       
    }
    
    }
    
    .fadeIn{
        animation: fadeInAnimation 1.5s ease-in-out;
    }
    
    @keyframes fadeInAnimation {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to  {
            opacity: 1;
            transform: translateY(0);
        }
    }
    