<header [class.headerDark]="darkMode">




    <div class="container-logo">
        <img *ngIf="!darkMode" routerLink="/" src="assets/img/white_image.png">
        <img *ngIf="darkMode" routerLink="/" src="assets/img/black_image.png">
    
    </div>
    <div [class.darkLinks]="darkMode">
        <a routerLink="/">Home</a>
        <a routerLink="/data-protection">Data protection</a>
        <a href="#">About Me</a> 
        <a href="/projects">Projects</a> 
        <a routerLink="/imprint">Imprint</a>

    </div>
</header>