<header [class.headerDark]="darkMode" >




    <div class="container-logo">
        <img *ngIf="!darkMode" routerLink="/" src="assets/img/white_image.png">
        <img *ngIf="darkMode" routerLink="/" src="assets/img/black_image.png">
    
    </div>
    <div [class.darkLinks]="darkMode">
        <a routerLink="/">Home</a>
        <a routerLink="/about-me">About Me</a> 
        <a routerLink="/projects">Projekte</a> 
        <a routerLink="/data-protection">Datenschutz</a>
        <a routerLink="/imprint">Impressum</a>

    </div>
</header>